<% layout('/layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/edit/style.css">
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3 style="text-align: center; text-transform: capitalize;"><b>Edit your listing</b></h3>
            <form action="/listings/<%=list._id %>?_method=PUT" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">title</label>
                    <input class="form-control" type="text" name="listing[title]" id="title" value="<%=list.title %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">description</label>
                    <textarea class="form-control" name="listing[description]" rows="3" id="description" cols="50"><%=list.description%></textarea>
                </div>
                <div class="mb-3">
                    Original Image <br>
                    <a href="<%=originalImageUrl %>"><img class="col-2" src="<%=originalImageUrl%>" alt=""></a>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="link"></label>
                    <input class="form-control" type="file" name="listing[image]" value="<%=list.image.url %>">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-3">
                        <label class="form-label" for="price">price</label>
                        <input class="form-control" type="number" name="listing[price]" id="price" value="<%=list.price %>">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="country">country</label>
                        <input class="form-control" type="text" name="listing[country]" id="" value="<%=list.country %>">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">location</label>
                    <input class="form-control" type="text" name="listing[location]" id="" value="<%=list.location %>">
                </div>
                <button class="btn btn-dark add-btn offset-5 mt-3 mb-5">Submit</button>
            </form>
        </div>
    </div>
</body>